[2015-01-14 04:13] geah70 opened #5 "Nest Cmd Line Error After Install"
Hello, after install I receive an error whenever I try to run nest.exe.  This occurs for all parameters (even  when only using the -h parameter).

  File "C:\Python27\Scripts\nest-script.py", line 9, in <module>
    load_entry_point('python-nest==2.1', 'console_scripts', 'nest')()
  File "C:\Python27\lib\site-packages\pkg_resources.py", line 339, in load_entry
_point
    return get_distribution(di

[2015-01-14 05:08] jkoelker commented on #5
Sorry about that. It was left over from when this was still just a fork for development in nest_thermostat. I've fixed it and released v2.2 here and on PyPi.

[2015-01-14 05:08] #5 closed

[2015-01-14 05:37] geah70 opened #6 "Setting Positional Argument Results in errors"
example: attempt to set thermostat to away ("nest --user xxxxxx --password yyyyyy away away") results in "nest-script.py: error: unrecognized arguments: away"

example: attempt to set thermostat to home ("nest --user xxxxxx --password yyyyyy away home") results in "nest-script.py: error: unrecognized arguments: home"

example: attempt to set temperature to 73 ("nest --user xxxxxx --password yyyyyy

[2015-01-14 05:38] geah70 commented on #5
Thanks for the quick response!

[2015-01-14 06:51] jkoelker opened #7 "Fix token caching"
Token caching was never really tested and appears to be very broken (all requests with an old token result in a 400 being raised).

[2015-01-14 06:53] #6 closed

[2015-01-14 07:00] jkoelker commented on #6
Thanks for testing and reporting the issues! I really appreciate it. Admittedly the command line is not very well tested (well the whole thing isn't really well tested, but I digress... ;) ).

I fixes the issue with setting the temperature. I only every tested setting the temp when the device is in 'range' mode, so the codepath you hit was probably the first time it ever got used! \o/

The format

[2015-01-14 07:03] jkoelker commented on #7
[code]

[2015-01-15 01:30] geah70 commented on #6
No worries on the testing.  I am very happy to test it and thankful that you can fix them so quickly.  Thanks...the temp set fix works.  The away syntax also works but I encountered another issue.  I will open another issue to explain.

[2015-01-15 01:47] geah70 opened #8 "Serial Number and Index Parameters Issue"
The serial number option seems to work with many parameters (including the temp paramter) except the away parameter.  I have two nest thermostats and usually supply the serial number in the command line to properly configure the appropriate thermostat.  However, no matter what serial number I provide (or eliminate it completely) it only sets the away mode on one thermostat

All three of these comm

[2015-01-15 04:17] #8 closed

[2015-01-15 04:20] jkoelker commented on #8
This should be fixed now. So the fun is that away status is an attribute of the structure not the device. I've added the `-S/--structure` argument to explicitly define which structure's away status should be modified. I've also fixed both the `--index` and the `--device` arguments so they make it auto-discover the structure that device is in and sets that structure to away.

[2015-01-15 04:34] geah70 commented on #8
wow..that was fast.  I will test shortly

[2015-01-15 04:44] geah70 commented on #8
That works perfectly.  I wasn't sure of how to use the --structure parameter so I just used the --serial parameter.  Your auto-discover routine correctly selected the correct structure and set it to the proper away status.

Is there anything else that you want me to test.  You have been so helpful!

[2015-01-15 05:42] jkoelker commented on #8
For `--structure` its just the name of the "home" as defined in the nest web gui (i.e. whatever is at the top center of the web page).  For example I only have 1 structure and its named "Home" so for me it would be:

[code]

I'm really bad at thinking up test scenarios. Just please continue to file bugs as you find them while using it. The way the core API is structured I can usually knock them ou

[2015-01-16 05:19] geah70 commented on #8
Thanks for further information.

BTW - my intention of using this API was to automatically put my Nest to Away when certain iPhones/Android devices are not in the house (i.e. not on Wifi).  I tried the Milhouse autoaway but could not get it to work.  Do you know of any other scripts that may work?  Thanks.

[2015-01-16 16:44] jkoelker commented on #8
You might want to checkout https://github.com/balloob/home-assistant might be a little overkill for what you want to do, but its the reason this repo got published to PyPi ;).

[2015-01-20 15:31] geah70 commented on #8
Thanks for the information. Unfortunately my router is not supported.  Thanks for all your efforts.

[2015-04-07 03:08] dmkanter opened #9 "AttributeError: Nest instance has no attribute 'structures'"
Strange, I'm getting the error:

          AttributeError: Nest instance has no attribute 'structures'

[2015-04-07 03:18] jkoelker commented on #9
@dmkanter do you happen to have the full traceback? Also is this with the CLI or using the API directly? I'm assuming I have a typo somewhere ;).

[2015-04-07 05:52] dmkanter commented on #9
This is using the API directly. Tried renaming structures with and without 's' in multiple places.
Thanks,
David

[2015-04-07 06:06] jkoelker commented on #9
Hrm, if you have the full traceback that should help. I just tried:

[code]

and it worked as expected.

[2015-04-20 04:42] jkoelker commented on #9
I'm going to close this for now. Please reopen with a full traceback if you think there is still a bug in the API.

[2015-04-20 04:42] #9 closed

[2015-04-20 04:52] dmkanter commented on #9
Ok thanks.

[2015-07-03 23:30] tomchapin opened #10 "Hardly any of the examples work"
Whenever I try to use this script, I encounter problems and can't get hardly anything to work. Has something broken?

None of these examples work (when I use my own username and password, of course):

When I try:
```nest --user joe@user.com --password swordfish temp 73```
I get:
[code]

When I try:
```nest --user joe@user.com --password swordfish fan auto```
I get:
[code]

When I try:
```nest --us

[2015-07-03 23:34] tomchapin commented on #10
My temp mode is range, so I also tried this:
```nest --user joe@user.com --password swordfish temp 60 70```
But it errored and gave me this:
[code]

[2015-07-03 23:34] tomchapin commented on #10
How am I supposed to use this utility?

[2015-07-05 00:57] jkoelker commented on #10
The command line is left over from the fork. Its not really well tested. Most people use the python api directly. So the deal with the fan is that its '--auto' I'll update the readme. The temperature thing is that its a bad request since nest does everything in Celsius and the range 60-70 is invalid. I'll update it so that it runs the input through the converter unless the -c flag is used.

[2015-07-05 01:08] #10 closed

[2015-07-05 01:11] jkoelker commented on #10
I've pushed v2.3.2 up to pypi. It has the range temperature fix as well as the readme fixes. Thanks for reporting the bugs, please let me know if you find more.

[2015-07-09 18:14] tomchapin commented on #10
Very nice! Thanks for responding, and for the quick fixes!

[2015-09-05 09:09] fxstein opened #15 "Add support for Nest Topaz resources (Smoke Detectors)"
I am working on support to readout the current status of linked Nest Smoke Detectors.

Basically expose readonly data in the topaz data structures.

Will open a PR when ready.

[2015-09-26 20:14] fxstein opened #17 "Add automatic deploy to PyPi"
I'd be happy to add support for automatic deploy to PyPi-Test and PyPi.

Have recently figured that out for a little tool I wrote.

It would basically add two branches:

    deploy
    deploy-test

Any push into them would automatically package and upload python-nest. Only the version number would need to be incremented in a central location in preparation for new releases.
Both branches would nee

[2015-09-26 20:19] jkoelker commented on #17
That would be awesome! Lemme know if there's anything you need from me.

[2015-09-26 20:32] fxstein commented on #17
Ok. Will do. This should be quick. I will need you to setup 6 variables on Travis for the project plus two branches

    deploy
    deploy-test

Here are the variables:

Variable Name | Variable Content
------------ | -------------
pypi  | https://pypi.python.org/pypi
pypi_user | your_pypi_user
pypi_pass | •••••••••••••••• (your pypi password mark variable as hidden/secret/password)
pypi_test | ht

[2015-09-26 20:36] #15 closed

[2015-09-26 20:47] jkoelker commented on #17
OK, got it all setup, I'll bump the version and run it through the pipeline to deploy to pypi, thanks for setting this up!

[2015-09-26 20:59] fxstein commented on #17
Forgot to mention that for pypi or pypi-test for this to work it assumes the project is registered:

    python setup.py register -r pypitest

[2015-09-26 22:17] #17 closed

[2015-10-18 22:56] jab416171 opened #21 "Unable to set temperature"
I'm trying to set the temperature with the python API. When I try to say device.temp = 40, nothing happens. I've tried both in range mode and just AC mode, and nothing works.

[2015-10-18 23:17] jkoelker commented on #21
`device.temp` is in degrees Celsius, nest rejects anything over 32, I'm assuming you want 40 Fahrenheit, if so you can find conversion functions in `utils`:

[code]

[2015-10-18 23:24] jab416171 commented on #21
I'm trying to set set it to 26C. I didn't realize it doesn't accept temperatures over 40C, so that's my mistake.

[2015-10-18 23:28] jkoelker commented on #21
Ahh, sorry bug in the documentation. its `device.temperature`, I'll update the readme.

[2015-10-18 23:32] #21 closed

[2015-10-18 23:38] jab416171 commented on #21
How do I set it when it's set to range?

[2015-10-18 23:39] jkoelker commented on #21
When in range mode it takes a tuple of `(low, high)`.

[2015-10-18 23:43] jab416171 commented on #21
Ah yes, thanks, I think I've got it figured out. Got a bug in my logic somewhere, but it appears to be setting the temperature now.

[2015-10-20 23:01] jakehawkes opened #22 "strftime() failing: TypeError: a float is required"
Python-Nest version 2.7.0

API code from the example:
[code]
fails with the error:
[code]

I'm on Mac OS X Yosemite, python 2.7.10

[2015-10-21 01:03] jkoelker commented on #22
Thanks for the bug report. I can't reproduce this locally, would you mind grabbing the value of `structure.weather._current` and pasting it here? In particular I'm looking to see which of the keys `observation_time`, `time`, or `date` exist or done exist. That's the order it tries to unroll the dict in.

[2015-10-26 18:54] jakehawkes commented on #22
Sorry for the delay.
Here's the information you asked for (I used pprint(
structure.weather._current))

{u'condition': u'Overcast',

 u'gmt_offset': u'-6.00',

 u'humidity': 52,

 u'icon': u'cloudy',

 u'lengthofday': 603,

 u'observation_epoch': u'1445885355',

 u'sunrise': 1445869086,

 u'sunset': 1445905300,

 u'temp_c': 7.8,

 u'temp_f': 46.0,

 u'timezone': u'MDT',

 u'wind_dir': u'South',

[2015-10-26 19:51] jkoelker commented on #22
No problem.  I pushed up https://github.com/jkoelker/python-nest/tree/observation_epoch I belieb that is the correct field. Can you test that branch and let me know if it works for you? If so I'll merge it into master and cut a release.

[2015-10-26 21:11] jakehawkes commented on #22
Unfortunately, that didn't work.

jake@iMac:~/Documents/code$ python NestTest.py

Structure Hawkes Nest

    Away: False

    Devices:

        Device:

            Temp: 20.4

DEBUG: structure.weather._current

{u'condition': u'Mostly Cloudy',

 u'gmt_offset': u'-6.00',

 u'humidity': 45,

 u'icon': u'mostlycloudy',

 u'lengthofday': 603,

 u'observation_epoch': u'1445893140',

 u'sunrise': 14458

[2015-10-26 21:14] jkoelker commented on #22
Lulz, I didn't even notice that it was a string, yea i guess wrapping it in the float() regardless is a good call. I'll update that and the map quick.

[2015-10-26 21:23] jkoelker commented on #22
I updated the branch (force pushed), if you can test it again that'd be great.

[2015-10-26 21:32] jakehawkes commented on #22
Yep, that worked.

FYI, the last line in the README example:
[code]
Is throwing the following error:
[code]

[2015-10-26 21:37] jkoelker commented on #22
Cools, I'll update the readme to fix the spelling error and cut a release. Thanks for the help.

[2015-10-26 21:46] #22 closed

[2015-11-07 14:29] fiberwings opened #25 "400 Client Error: Bad Request"
Just downloaded and it doesn't seem to work. I get the following:

[2015-11-14 12:14] tikismoke opened #26 "nest protect"
Is it possible to add nest protect information?

[2015-11-14 12:15] tikismoke commented on #26
... Goal is to make a Domogik plugin for nest products.

[2015-11-14 16:16] fxstein commented on #26
I have added Nest Protect support a while back: 278283c04d4ed62d582ad8456137e0d73675bbe7

What else are you looking for?

[2015-11-14 16:18] tikismoke commented on #26
Sorry didn't see it ;(
Will have a look further to make the domogik plugin.

Thank's

[2015-11-14 16:18] #26 closed

[2015-11-14 16:19] fxstein commented on #26
Take a look at this example. I built a restful feeder for my own home automation based on this: https://github.com/fxstein/SentientHome/blob/master/feed/feed.home.nest.py

[2015-12-09 21:32] fxstein commented on #7
Just ran into the same issue finally. Kept the old token cache file. I will look into why it is doing this.

[2015-12-09 21:34] fxstein commented on #25
This could be related to #7

[2015-12-10 12:07] ArnoutD opened #27 "Nest weather internationalisation"
The nest weather API allows for usage outside of the US you need to append a ',' countr_code to the weather url

[2015-12-12 10:21] fiberwings commented on #25
Any workaround to make it work? It used to work before

[2015-12-12 12:48] fxstein commented on #25
Try this: Find the nest/cache file and rename it to cache.old
In my case that fixed the issue. If so this would highly likely be related to #7

[2015-12-28 22:55] jkoelker commented on #27
Sorry for the delay, been checkout of internet for a while.

I see you added https://github.com/ArnoutD/python-nest/commit/42391a644ac0829002b3178e72e88491d9cf141a , if that works, would you mind submitting a PR for it, or letting me know if its ok to cherry-pick that commit into this repo.

Thanks for figuring it out!

[2016-01-18 23:26] nefaspartim commented on #25
Sadly I had a much easier solution to fix this. I just had to make sure I spelled my password correctly. For some reason it was throwing this error when it was incorrect.

[2016-02-25 17:12] diegodeodati opened #31 "Sett Temperature Throw device._set"
How i can set temperature directly with python?

device._set(device.temperature,{'target_temperature':32})

Which is the correct command?

[2016-02-25 22:25] jkoelker commented on #31
You can do `device.temperature = 32`. Do note that if your nest is in 'ranged' mode were it keeps it between a temperature range, you pass in a tuple of `(low_temp, high_temp)` like:

[code]

[2016-02-25 22:25] #31 closed

[2016-02-26 20:29] jkoelker commented on #27
Fixed via #30

[2016-02-26 20:29] #27 closed

[2016-02-27 09:46] diegodeodati opened #34 "I want to view the temperature change..."
Hi Every one i want to show the temperature changes inside an while cicle...

napi = nest.Nest(username, password)
while(True):
    structure = napi.structures[0]
    device = structure.devices[0]
    print('   Device %s  Temp     : %0.1fC' % (device.name,device.temperature))

But when i change temp inside nest simulator i dont view the changes...

[2016-02-28 02:42] jkoelker commented on #34
By default values are cached unless the `Nest` class itself changes it. You can configure the cache with the `cache_ttl` argument to the class. To disable it just set it to `0`:

[code]

Do note that this will hit the nest api for every read of any property, that is in your example the print function will very likely call out to the nest api twice. A value of `1` or `5` would probably be better. S

[2016-02-28 02:42] #34 closed

[2016-04-03 16:29] Einstein42 opened #35 "Polling structure.away"
I have a program that polls structure.away every 30 seconds (along with a number of other things). All of them work except structure.away is never changed from the initial state when I create the napi connection. The first call to structure.away pull the correct state on instantiation, then is never updated if the away state changes.

UPDATE: This is not a python-nest issue. It looks like Nest its

[2016-04-29 16:16] f0rkz opened #36 "Getting an error when trying to set temperature"
[code]

[2016-04-29 16:18] f0rkz commented on #36
Seems this error triggers when away is activated.

[2016-04-29 16:31] f0rkz commented on #36
Ignore me. Looks like I was passing a string instead of an integer!

[2016-04-29 16:31] #36 closed

[2016-05-01 09:46] jkoelker commented on #35
Sorry I missed the email notification for your issue.

`python-nest` currently caches the nest response for 270 seconds. You can explicitly expire this cache by calling `napi._bust_cache()` where `napi` is the `Nest` instance. You can also set the cache time when instantiating the `Nest` instance by passing the `cache_ttl` paramater (https://github.com/jkoelker/python-nest/blob/master/nest/nest.py

[2016-06-09 20:05] tikismoke commented on #26
Hi @fxstein Does it borrow you i hade directly your files (adapted for domogik instead of sentienthome) directly into a new domogik-plugin-nest? It will be on github too and GPL3.

[2016-06-09 20:48] fxstein commented on #26
By all means use it as you see fit - just keep the copyright headers in the files. On the license be aware that it is Apache 2.0 not GPL. Hope this helps!

[2016-07-25 19:24] #35 closed

[2016-08-01 22:29] GussyH opened #44 "NestCam Support?"
Would it be possible to add NestCam support please? Just being able to turn on/off would be a great start.

I'm using Home Assistant, which uses python-nest, and would love to be able to control the cams from inside HASS.

[2016-08-09 18:55] breakboard commented on #25
I'm getting the same error message when I try and use a config ini file in the command prompt. I've tried more than one location for the file but still no luck. In Python I've got it working fine when I explicitly declare the credentials but I haven't tried using an external config file and Python code.

[2016-08-16 06:45] technicalpickles commented on #44
Reading over https://developers.nest.com/ it seems like this should be possible. The docs aren't super clear on using the API in general though.

I used some of the example code with ipython to explore the data it gets back, but I'm not seeing any cameras anywhere in the result. I'm not yet sure if it's due to the library only selecting specific things, or not requesting a resource that has it yet

[2016-08-26 05:53] kavwang commented on #5
I had the same issue on 2.9.4
`Traceback (most recent call last):
  File "/usr/local/bin/nest", line 9, in <module>
    load_entry_point('python-nest==2.9.4', 'console_scripts', 'nest')()
  File "/usr/lib/python3/dist-packages/pkg_resources.py", line 351, in load_entry_point
    return get_distribution(dist).load_entry_point(group, name)
  File "/usr/lib/python3/dist-packages/pkg_resources.py", li

[2016-08-26 06:25] kavwang opened #45 "Current temp error"
I used the sample code but can't get temp correctly.
[code]

[2016-08-27 00:14] jkoelker commented on #45
Hrm, its still working for me. If you can print out the `device._shared` dict and see if maybe the key is different. This does use the unsupported api, so it possible that the keys are changing with newer devices.

[2016-08-29 01:32] kavwang commented on #45
I found my Nest API didn't return any current_temperature data. That's my problem.

[2016-08-29 01:32] #45 closed

[2016-09-04 18:32] tikismoke commented on #44
It's add but without pull requests to this repo :(
@jkoelker have a look here:

https://github.com/les69/calvin-base/blob/c2f59e5701d54e9ffee8c0b6be33874c84cd9a87/calvin/runtime/north/plugins/nest/nest.py

[2016-09-06 11:50] technicalpickles commented on #44
Looks like the license of that repo is Apache 2.0, and this repo is Creative Commons attribution share-alike and non-commercial.

@les69 would you be willing to do a PR against this repo with the changes in https://github.com/les69/calvin-base/blob/c2f59e5701d54e9ffee8c0b6be33874c84cd9a87/calvin/runtime/north/plugins/nest/nest.py?

[2016-09-06 12:36] les69 commented on #44
Sure! Let me re check it a little before and I'll do a pull request.

[2016-09-14 17:17] pbermingham opened #46 "Error on line 899 of nest.py on Python 2.6.6"
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "nest.py", line 899
    ret = {w['name'].lower(): w['where_id'] for w in self._wheres}

[2016-09-14 17:30] notnami commented on #46
It seems the code is failing because of the dictionary comprehension. Dictionary comprehensions were only added in Python 2.7 (and Python 3).

[2016-09-14 20:17] pbermingham commented on #46
That was it, thanks.

[2016-09-14 20:17] #46 closed

[2016-09-19 22:19] jthacker48 commented on #44
Was there ever any movement on this?  I've got a couple of Dropcams that I would like to include in my Home Assistant setup.

[2016-09-28 19:04] Einstein42 opened #47 "Crashing on Forecast call"
File "/usr/lib/python2.7/site-packages/nest/nest.py", line 205, in __init__
Nest:     fget('observation_epoch')))))
Nest: TypeError: float() argument must be a string or a number

[2016-09-28 19:15] jkoelker commented on #47
Just to confirm this is when making a call for the current weather, correct? It appears that the observation time has been removed from the api. I'll have a patch shortly.

[2016-09-28 19:18] Einstein42 commented on #47
Correct. Thanks!

[2016-09-28 19:26] #47 closed

[2016-09-28 19:32] jkoelker commented on #47
I pushed 2.10.0 up to pypi. If a time isn't found it will default to `time.time()` aka now ;).

[2016-09-28 20:12] Einstein42 commented on #47
Excellent, thank you so much

[2016-09-28 20:13] Einstein42 commented on #47
This works. Feel free to close.

[2016-09-28 21:01] tikismoke commented on #44
@les69 any news? ;)

[2016-09-29 21:59] alexmace commented on #47
Thank you for fixing this so promptly, just noticed my logged temperatures stopped in the last couple of days, now working again after upgrading.

[2016-11-03 13:50] w1ll1am23 opened #53 "No support for eco mode"
Looks like nest is changing their API to support a new mode called eco, currently the incorrect state is being returned for Nest Thermostats when the mode is set to eco.

[2016-11-03 14:34] StaticCube commented on #53
As far as I know away has been renamed to eco and thats it

[2016-11-03 14:54] w1ll1am23 commented on #53
Yeah, that's how I read the email as well but in the app its confusing
because you can set away mode, but you can also set eco mode. I haven't
looked at their api though so who knows.

On Nov 3, 2016 10:34 AM, "Ferry van Zeelst" <notifications@github.com>
wrote:

[2016-11-03 15:04] notnami commented on #53
Yes, that is the case (and the email from Nest was indeed confusing).

So, as far as I understand, the new software works as follows:

When you are home, you can set your Nest to Eco. It will still report as you being home, but it will only turn on if the temperatures reach the Eco (or, previously, Away) thresholds.

When you are away, the thermostat uses Eco temperatures the same way it previousl

[2016-11-03 16:17] notnami commented on #53
I'm trying to add basic support for the eco mode.

The JSON API returns the following object:

[code]
Of note is the values of "mode". When eco is off, the value is "schedule". When the user turns on eco manually, it's "manual-eco". I assume there must be another value, something like "auto-eco" for when the Eco turns on with Auto-Away, but I can't test that without somehow entering auto-away. If

[2016-11-03 22:08] w1ll1am23 commented on #53
@notnami here is my output.
[code]

[2016-11-16 01:43] #53 closed

[2016-11-20 18:50] gaenserich opened #55 "400 Client Error: Bad Request (variation)"
This may be a variation of [#25](https://github.com/jkoelker/python-nest/issues/25), but with different-looking error messages. After a `nest show`:

[code]

Here is whay the config file looks like at the moment. (Un)Commenting the credential cache line does not change the error.
[code]

[2016-12-12 23:01] brettroyer opened #57 "Exception "unhandled KeyError" 'structure'"
I'm getting this error when i run this code or the code provided:
I believe we are using the 3rd gen. nest
[code]

**Error:**

Exception "unhandled KeyError"
'structure'
File: C:\Python27\lib\site-packages\nest\nest.py, Line: 1064

[2016-12-23 16:39] Sidicas commented on #55
Hello, I ran into this issue also.

It appears to be the issue is on line 133, in /usr/lib/python2.7/site-packages/nest/nest.py

Above this line there is a "data=" that contains self.username and self.password.

Replace these vairiables with your actual username and password in quotes.

Ex:
data = {'username': 'yourUsername', 'password': 'yourPassword'}

This resolved it for me.

So one would assu

[2016-12-28 20:36] scornelissen85 commented on #57
I guess this is because you logged in with an member, not an owner. I faced the same issue when I logged in with a regular member of my Nest account, not with the owner of the structure.

Furthermore, I discovered that as a member you won't receive the structure information directly from /v2/mobile/user._nnnnn_. Probably there has to be made another call to get the structure data but I can't find

[2017-01-04 00:33] brettroyer commented on #57
Thanks,  not being logged in as the owner was the issue

[2017-01-04 00:33] #57 closed

[2017-01-11 20:04] NicolasDuran opened #58 "Slow update of the target temperature of nest thermostat"
Hi, using python-nest with Home-Assistant, the target set by the nest thermostat take a long time to be updated on the interface.
After looking at the code I found : https://github.com/jkoelker/python-nest/blob/master/nest/nest.py#L1005

Does the 270s cache by default have a reason or lowering it to 10s is ok ? (I guess you decided to make it that long for a reason)

[2017-01-14 02:56] jkoelker commented on #58
Setting the properties busts the cache and triggers a call on the next read.  Note that newer versions of home-assistant use the code that is in development atm at PR #49, but that also busts the cache after sets.

However if not setting using the library it will take up to the cache value to expire update in the library. I chose the cache value as a good compromise between freshness and not hamme

[2017-01-14 02:56] #58 closed

[2017-01-17 03:34] technicalpickles commented on #58
I've thought about using the streaming API for https://github.com/jkoelker/python-nest/pull/49 which would help with the freshness of the data without slamming the API. But, that PR is already pretty huge and I'm not sure how to do async stuff in HA yet 😅  (it's probably aiohttp or something).

[2017-01-17 19:48] technicalpickles opened #62 "Document releasing to pypi"
From @jkoelker on https://github.com/jkoelker/python-nest/pull/49#issuecomment-273223890

Not sure the best place to put that info, not to confuse it with usage of the library.

[2017-01-25 00:51] Swipular opened #63 "Invalid content sent when setting fan"
I am attempting to turn the fan on and have been running into an error which seems to be coming from incompatibility between python-nest and the nest api.

When running "nest fan --on" from the command line I get the following:

Traceback (most recent call last):
  File "/usr/local/bin/nest", line 11, in <module>
    sys.exit(main())
  File "/usr/local/lib/python3.5/dist-packages/nest/command_line

[2017-02-01 22:55] #63 closed

[2017-02-01 23:02] jkoelker commented on #44
#49 took care of this I belieb. Closing

[2017-02-01 23:02] #44 closed

[2017-02-01 23:03] jkoelker commented on #55
With the new api using the official nest developer api, this should not be a problem anymore. If it is please reopen.

[2017-02-01 23:03] #55 closed

[2017-02-01 23:04] jkoelker commented on #25
With the new api using the official nest developer api, this should not be a problem anymore. If it is please reopen.

[2017-02-01 23:04] #25 closed

[2017-02-01 23:04] jkoelker commented on #7
With the new api using the official nest developer api, this should not be a problem anymore.

[2017-02-01 23:04] #7 closed

[2017-02-01 23:13] MilhouseVH opened #67 "Add "Away" status to show"
Is there any way to include the current Away (`home`, `away`, `auto-away`) status when running `nest show`?

I've added the following patch, which works:
[code]
but is obviously just a quick hack and doesn't take into account different devices/serials/structures as per the existing `away` command (I only have a single Nest thermostat, so this hack works for me).

The purpose of adding the "Away" s

[2017-02-01 23:57] jkoelker commented on #67
`Device`s have a `.structure` property, so we could do
`device.structure.away`.

I'm not at a computer right now so I didn't create a PR for it, but if you
would try that and if it works, submit a PR, I'll merge it when i get back.

Happy Hacking!

7-11

On Wed, Feb 1, 2017 at 11:13 PM, MilhouseVH <notifications@github.com>
wrote:

[2017-02-01 23:59] GussyH commented on #44
The new integration is awesome! Thanks so much guys.

One further question, are you supposed to be able to actually turn the NestCam on and off manually? Or do you still have to rely on it turning on and off via the Away system?

[2017-02-02 00:13] MilhouseVH commented on #67
I've pushed #68 as this seems to be working for me, returning the same result as `napi.structures[0].away`.

Many thanks!

[2017-02-02 00:38] #67 closed

[2017-02-02 00:40] jkoelker commented on #67
Merged, thanks!

[2017-02-02 18:59] diegodeodati opened #69 "Simple Example"
Hi,
can anyone send here an simple example that use the newest nest api?

thanks

[2017-02-02 20:02] jkoelker commented on #69
The Readme has the examples, Lines 64-75 are the bare minimum. Lines 77-133 show the basics of the api. After that its showing other examples of what can be done.

[2017-02-02 20:02] #69 closed

[2017-02-02 20:15] tikismoke opened #70 "New API status for external plugin"
Hi all don't find how to contact you! This is not a real tickets.

What the status off all the new API and nest cam support ?

I'm certainly going to rewrite the @domogik nest plugin to have cam support. And was thinking about all those new function and API. Is it all available on pipy with last version?

[2017-02-02 20:22] jkoelker commented on #70
Yep, its on pypi now. It was merged in with #49. The version was bumped to 3.x so that the old api is still available via pinning '<3.0'.

[2017-02-05 09:11] tikismoke commented on #70
Ok thank's i'll have a look to rewrite my plugin using the simulator to try.

[2017-02-05 14:48] tikismoke opened #72 "Expired token"
Is they're a way to implement an exception like token expired and add a method for Refresh files?

In fact what appens if the token as expired ?
How to handle this in external apps?

[2017-02-05 19:09] tikismoke commented on #70
I close this one. All works as expected and will open others details tickets

[2017-02-05 19:09] #70 closed

[2017-02-06 18:18] tikismoke commented on #72
I answer myself after RTFM :) Token expired in 10 years that's seems to be in a too long time to have those sort of problems.

[2017-02-06 18:18] #72 closed

[2017-02-07 15:06] jawilson commented on #62
Wiki?

[2017-02-07 17:41] tikismoke opened #77 "Set fan from libs"
Hi trying to implement command in my @domogik plugin, i got this issue:

[code]

I've tried     device.fan = "on",     device.fan = 'on',     device.fan = on true/false True/False ....

[2017-02-07 20:00] jkoelker commented on #77
I think this was fixed via #66 which was released to pypi in v3.1.0. Please let me know if after updating it still persists.

[2017-02-07 21:11] tikismoke commented on #77
Crap I used 0.3.0 i'll try tomorrow and close it if it works :(

Sorry...

[2017-02-08 16:30] tikismoke commented on #77
Ok no more error, but the fan status do not change in Simulator.

[2017-02-11 15:27] geudrik opened #78 "PIN Entry Fails on CLI"
[code]

[2017-02-11 16:32] MilhouseVH commented on #78
Try:
[code]
ie. include double quotes around the PIN you enter - this seems to be a quirk of Python `input`.

[2017-04-03 16:16] technicalpickles opened #83 "Support for turning camera on and off"
The [API supports](https://developers.nest.com/documentation/cloud/camera-guide#turn-streaming-onoff) turning the camera off and on.

Implementation would look something like:

- in nest/nest.py, update `class Camera`
- add a new method for turning on/off
  - use `._set` from `NestBase` for setting the `is_streaming` from the API (search that file for other examples)

cc @GussyH who asked about it

[2017-04-03 16:17] technicalpickles commented on #44
The Nest API supports it, but I didn't implement it as part of https://github.com/jkoelker/python-nest/issues/49 because I didn't have a use case for it yet.

Opened https://github.com/jkoelker/python-nest/issues/83 with some notes if anyone wants to try

[2017-04-04 11:21] GussyH commented on #83
Would be great to have this added 👍

[2017-04-11 17:56] ScruffySlippers opened #84 "Issue with documentation on home page"
if napi.authorization_required:
    print('Go to ' + nest.authorize_url + ' to authorize, then enter PIN below')

Should use napi.authorize_url, not nest.authorize_url

[2017-04-27 06:41] mikecx opened #85 "Eco Temperature Issue"
For some reason my Nest returns None for the Away Heat and Away Cool which causes the code to fail to display (since it's looking for a float).

The issue appears to be [here](https://github.com/jkoelker/python-nest/blob/master/nest/command_line.py#L266).

My Python is super rusty this is ugly but I fixed it by switching to:
[code]

Cheers and thanks for the good library.

[2017-05-14 22:21] GussyH commented on #83
Any update @technicalpickles @jkoelker ? Would be great to be able to turn these on at night even when I'm still in the house,

[2017-05-15 17:54] jkoelker commented on #83
@GussyH if you could test https://github.com/jkoelker/python-nest/pull/86 and leave feedback there, it looks like it should work, but I don't have the hardware to verify.

[2017-05-15 19:01] GussyH commented on #83
@jkoelker Ok thanks I'll have a look - I use it with Home Assistant so I've not got a standalone setup. I'll try and get one running.

[2017-05-16 16:02] jkoelker commented on #83
@GussyH kk, I'll merge it as is since its reported to work.

[2017-05-16 16:05] jkoelker commented on #83
Fixed via #86

[2017-05-16 16:05] #83 closed

[2017-05-16 16:09] GussyH commented on #83
@jkoelker  Oh cool thanks mate

[2017-05-19 21:10] wifiminime opened #89 "BUG: /usr/local/lib/python2.7/dist-packages/nest/nest.py", line 449, in _round_temp"
File "/usr/local/lib/python2.7/dist-packages/nest/nest.py", line 449, in _round_temp
    return round(temp * 2) / 2

temp is an array....
(for heat/cool mode it is OK) (lines above)

in heat mode only
return round(temp * 2) / 2 --> return round(temp[0] * 2) / 2

[2017-05-19 21:55] jkoelker commented on #89
Please provide the full traceback and either the command line or the api fucntion call that triggered this. Thanks!

[2017-05-20 13:26] wifiminime commented on #89
Hi,

already fixed it locally:
the line number of  the error is 449 in nest.py
the call was via cmdline 'nest temperature 24'
the arguments for 'temperature' options are an array because in cooling /
heating mode you need upper and lower limit
but the functioni also works with single argument (the way i used it is
with single argument) so please look @ line 449: the bug is evident:
round(array) do

[2017-05-22 05:35] troyfontaine commented on #78
Confirmed, this would be good for including in the prompt to avoid un-necessary issue tickets.

[2017-05-22 05:39] troyfontaine opened #90 "Unable to specify client-id and client-secret in config file"
When added to a config file and called via `--conf`, the CLI spits out ```Missing client and secret. Either call with --client-id and --client-secret or add to config as client_id and client_secret```.

It appears the functionality to read those variables from the configuration file isn't functional.

[2017-05-30 09:23] jrluw opened #92 "Incorrect implementation of event detection for Nest cameras"
Event detection for Nestcams (as currently implemented) doesn't seem to work, at least in conjunction with homeassistant.  Is this because the requirements for "is_ongoing" are too stringent?  (Maybe the Nest API is very precise about events, and an event is only "ongoing" for a few milliseconds.)  If that's the case, should this be fixed so that "ongoing" is more lenient?  (E.g., cache the old la

[2017-06-01 14:52] #78 closed

[2017-06-01 23:34] jrluw commented on #92
Would be great if you can say whether it's supposed to work.  If not, I can try to fix it.

[2017-06-02 02:39] jkoelker commented on #92
I'm not sure, I don't use nestcams at all as I don't have the hardware. That said if its not working for whatever reason, and someone patches it, I'd accept the patches.

[2017-07-06 14:49] troyfontaine commented on #78
I've just created a PR for a fix for this to use a specific input method based on the version of Python used to execute the script: https://github.com/jkoelker/python-nest/pull/93

[2017-07-07 17:41] troyfontaine commented on #89
@wifiminime is this the section you're referring to?
[code]

[2017-07-07 17:46] troyfontaine commented on #84
This has been fixed in https://github.com/jkoelker/python-nest/commit/0afc73ddd32c96c98be0427a1ab950b9ee69b8fc

[2017-07-07 17:46] #84 closed

[2017-07-07 17:49] troyfontaine commented on #77
@tikismoke it should be a True or False boolean.  It can take a few moments to kick in (at least with my real world usage).  Don't quote the response, it should literally be `device.fan = True` to get the fan to activate (if it exists).  Does the simulator have a fan available on the simulated HVAC?

[2017-07-07 18:37] wifiminime commented on #89
Hi,

the piece of code is this:
'value' is an array, always even when self.mode is not "heat-cool" therefor the call to round will fail:
        "rounded_temp = self._round_temp(value)"  -> fails value is the pointer to the array, not value[0]
see:

def target(self, value):
    data = {}

    if self.mode == 'heat-cool':
        rounded_low = self._round_temp(value[0])
        rounded_high = self.

[2017-07-07 18:45] wifiminime commented on #89
hi

So the problem is not in the function "_round_temp" but in the function "target"
( i think my line number was wrong in my initial post)

[2017-07-08 04:54] troyfontaine commented on #89
Thanks for letting me know!  Okay, so I've tested your code:
[code]
This spits out an error `'int' object has no attribute '__getitem__'`

So the [existing code](https://github.com/jkoelker/python-nest/blob/aea23b9a2f0fc99fa08956b36164e29c36c755fe/nest/nest.py#L512-L524) is working as expected **IF** passing a single value to it that isn't in a list (as it expects a singular temperature to be pass

[2017-07-08 08:47] wifiminime commented on #89
(sorry for not testing the suggestion above)

I am not using the python-nest lib anymore, i just briefly tried python-nest lib (i was exploring for an alternative way to control my NEST).
When i encountered this error, i used  the command line tool.
so I think i know whats happening, it is probably the argument handling code in python from the command line tool.

org post mentions this: " the call

[2017-07-08 13:53] troyfontaine commented on #89
Thanks @wifiminime!  I'll try and look into it.

[2017-07-08 13:56] troyfontaine commented on #62
@jkoelker Can we get a Wiki added for storing documentation for collaborators?  Thanks!

[2017-07-08 13:58] troyfontaine commented on #77
Because this doesn't affect the current release, I'm going to close the issue.  If you still have problems please open a new issue when using the current release of python-nest.  Thanks!

[2017-07-08 13:58] #77 closed

[2017-07-08 17:41] jkoelker commented on #62
@troyfontaine Totes, I just enabled it, and then copied the above to a new page. Thanks for taking the time to make python-nest better! \o/

[2017-07-08 17:41] #62 closed

[2017-07-08 21:31] troyfontaine commented on #85
Thanks for reporting this issue!  It looks like someone has fixed this already, so I'm going to go ahead and mark this as closed.

[2017-07-08 21:31] #85 closed

[2017-07-09 03:46] troyfontaine commented on #89
This appears to have been fixed since you submitted the bug report.  As such, I'll close this issue.  Thanks for taking the time to help ensure this was resolved!

[2017-07-09 03:46] #89 closed

[2017-07-10 15:53] #90 closed

[2017-07-31 23:37] danbri opened #96 "AttributeError: 'Thermostat' object has no attribute 'hvac_mode'"
Running this against a freshly setup Nest Thermostat, I get some useful info (address, temp, etc.) and then this:

 num_thermostats                : 1
        Device: Hallway
        Where: Hallway
            Mode     : heat
Traceback (most recent call last):
  File "nesttest.py", line 39, in <module>
    print ('            HVAC Mode: %s' % device.hvac_mode)
AttributeError: 'Thermostat' object h

[2017-08-01 01:03] troyfontaine commented on #96
Hi @danbri
There isn't an `hvac_mode` attribute.  There is `mode` and `hvac_state` attributes which you might be confusing.

[2017-08-01 13:59] danbri commented on #96
Thanks! Also "AttributeError: 'Thermostat' object has no attribute 'fan_timer'". Don't know my way around the Nest APIs yet to fix quickly; I tried some terms from https://developers.nest.com/documentation/cloud/thermostat-guide unsuccessfully.

[2017-08-02 00:44] troyfontaine commented on #96
@danbri that is actually a new attribute in the code currently sitting on master awaiting a new release-fan_timer is not in the currently available package.

[2017-08-04 04:58] troyfontaine opened #97 "Release Process"
@jkoelker Is there a process for determining when a release should be triggered to PyPi?

Is it a unilateral call on your part currently or is there already decision making process with contributors providing input?

Thanks!

[2017-08-04 05:53] jkoelker commented on #97
Not really any process, i usually have been doing it after merging pr's when I have the time to do some quick manual tests and pop the branch through the deploy-test to have travis push it to testingpypi and then the deploy branch to push it to pypi.

[2017-08-06 21:10] troyfontaine commented on #97
Thanks :)

[2017-08-06 21:10] #97 closed

[2017-08-24 06:25] troyfontaine commented on #96
fan_timer has now been added to the released version 3.4.0 :). Please give it a try again!

[2017-08-24 06:25] #96 closed

[2017-08-27 20:44] mshulman opened #102 "Errors on Python 2.7.13 on Raspberry Pi"
[code]

I also get errors trying to set temperature:
[code]

[2017-08-27 22:14] mshulman commented on #102
the workaround is to check for `device.humidity is None`

[2017-09-01 21:09] martinayotte opened #104 "TypeError: float argument required, not NoneType"
[code]

[2017-10-03 16:12] iDVB opened #106 "Large 2-3min delay in Camera is_streaming status update"
Not entirely sure how to debug if this is a `python-nest` issue or an issue with the Nest API itself.
However, it seems as though the [is_streaming](https://github.com/jkoelker/python-nest/blob/master/nest/nest.py#L1088) getter returns the wrong status for about 2-3mins after the camera status has been changed in Nest.

[2017-10-07 01:48] iDVB commented on #106
Anyone know if this is an issue with `python-nest` or Nest API?

[2017-11-07 19:49] mhofman opened #109 "Use REST Streaming API"
Now that this project uses the official Nest API (#49), has anyone looked into using the [REST Streaming API](https://developers.nest.com/documentation/cloud/rest-streaming-guide) ?
It would avoid polling the API, which is good for both not triggering rate limits, and receiving fast updates (push vs. poll).

This would potentially solve issues such as #106 and #58.

[2017-11-07 19:51] creeg2 commented on #109
Would love to have this feature but lack the development ability. This would be especially helpful to increase the responsiveness of applications to be more real-time.

[2017-11-07 20:32] mhofman commented on #109
Unfortunately I'm a python novice, or I'd have implemented this myself.
A good starting point might be this "hack" project written in python 3, using the nest thermostat as a combination lock based on the updates received by the REST Streaming API: https://github.com/jakeyr/nest-combolock

[2017-11-11 03:09] larsks opened #110 "python-nest reports temperature in °F"
The python-nest docs on pypi say:

But the `temperature` attribute of thermostat objects appears to report the temperature in °F. I don't know if this is a doc bug, or a change in the API, or something else, but figured I would mention it.

[2017-11-11 03:13] larsks commented on #110
I see that there is a `temperature_scale` attribute that indicates the current scale, although it doesn't appear to be writable.

[2017-11-28 19:55] technicalpickles commented on #109
https://github.com/jkoelker/python-nest/pull/49 was already a stretch for me 😅

I was just thinking about this again, and found this doc https://developers.nest.com/documentation
/cloud/rest-streaming-guide which mentions https://pypi.python.org/pypi/sseclient-py/1.7 as a library that could be used.

Ideally, any use of the streaming API would also work with the homeassistant support that motivate

[2017-12-14 12:11] Flizzzard opened #114 "Humidity reading accuracy"
Hi all,

Can you help confirm expectation around the accuracy of device.humidity? I only ever seem to get values in increments of 5. I.e. 45, 50, 55. Right now the python-nest is reading 45, when it's 47 in the NEST app in reality.

Just wondered if this is a limitation of the NEST API or python-nest?

Many thanks for all you do.

[2017-12-15 03:33] schmittx commented on #114
Yes, Nest API rounds to the nearest 5.

Check [here](https://developers.nest.com/documentation/cloud/api-thermostat#humidity) for more details.

[2017-12-22 16:35] jkoelker commented on #110
Its a little of column 'a' and a little of column 'b', when we switched to the nest official api, we started using the nest reported temp_c or temp_f attributes depending on the temperature_scale value. I'll change the docs to reflect this.

[2017-12-22 16:52] #110 closed

[2017-12-22 17:07] jkoelker commented on #106
By default the `Nest` object will cache values for 270 seconds, that is it will only hit the rest endpoint at most once every 270 seconds, everything else is just a view into that cached response, unless it is changed via the `Nest.*` device apis (the `_set` method in `NestBase` invalidates the cache), then the next property access will trigger a re-fetch of the data.

You can set your own cache v

[2017-12-22 17:07] #106 closed

[2017-12-22 17:22] #104 closed

[2017-12-22 17:22] jkoelker commented on #104
Sorry for the delay in getting back to this, I just pushed a fix that wraps the display.

[2017-12-22 17:33] #102 closed

[2017-12-22 17:34] #114 closed

[2018-01-02 14:30] iDVB commented on #106
@jkoelker Ah, that is likely why the [HomeAssistant Plugin](https://home-assistant.io/components/nest/) that uses python-nest is not updating at all/quickly. Would it be difficult to get things working with the streaming API?

[2018-01-11 16:50] ruthless0ne commented on #92
@jrluw did you ever get anywhere with this?

[2018-01-11 16:58] ruthless0ne commented on #109
Any possibility of the REST streaming API being integrated into python-nest? I'd love to have more functionality, will be happy to assist in any way, including buying devs, coffee/beer to fuel. :)

[2018-01-12 12:26] philharle opened #123 "Adjust locked temperature range"
Has anyone looked into supporting the ability to adjust the min/max locked temperature?https://developers.nest.com/documentation/cloud/thermostat-guide#temperature_lock

I'm still looking for a way to lock/unlock the thermostat via the API, but I don't think this is possible yet. Having the ability to adjust the min/max range while still locked would be workable in my project though.

[2018-01-18 16:43] bkeating commented on #109
Observables! https://github.com/ReactiveX/RxPY

[2018-02-02 07:48] tboyce021 commented on #109
Is anybody working on this or planning to?

[2018-02-02 19:43] jkoelker commented on #109
Not yet, its on my todo list, but I haven't started on it and don't have plans to in the near future, if anyone wants to implement it, go for it, bonus points if its event loop neutral.

[2018-02-21 19:42] cburgess opened #127 "Missing where names"
Due to an upstream bug some devices will be assigned a where_id that is not
visible in the API. As a result we can't get a friendly name for the where and

As a result if we try and get the where property on the device we will the following trace:

[code]

See https://nestdevelopers.io/t/missing-where-name-from-some-devices/1202 for details on the upstream issue.

[2018-02-21 19:44] cburgess commented on #127
PR https://github.com/jkoelker/python-nest/pull/128

[2018-02-21 20:11] #127 closed

[2018-02-21 22:19] cburgess commented on #123
From what I can tell from reading the Nest API reference these values are read-only in the API.

Specifically look for locked_temp_min_f, locked_temp_max_f, and is_locked in https://developers.nest.com/documentation/cloud/api-thermostat.

Since the API doesn't appear to support it, there isn't really anything python-nest can do as its simply an API client.

If I'm wrong feel free to point out how

[2018-02-21 22:19] #123 closed

[2018-02-22 12:18] ties commented on #109
I have an (old)  [fork of this repo](https://github.com/ties/python nest) that includes this functionality, based on asyncio. It has been stable over the last year.

We could try to upstream this or use it as the basis for an implementation

[2018-03-21 01:18] theaquarium commented on #109
I'm going to try to add this using sseclient.

[2018-03-21 12:51] bkeating commented on #109
Awesome! I've had this on my list since @ties posted but just haven't (and doesn't look like) I'll have time to jump in. Cheering you on! 🎉

[2018-03-21 19:10] theaquarium commented on #109
Thanks!

[2018-04-02 11:03] wouzer commented on #44
@technicalpickles Wat do you mean by not having a use case?
Personaly I would like the feature to turn my Nest cam on/off better than to have streaming available in HA. Could you please implement it?

[2018-04-06 16:55] pnbruckner commented on #106
Wasn't sure if I should add to this closed issue, or open a new one, so...

Anyway, I would like to suggest an enhancement that adds a delay between using a setter and "busting" the cache.

I'm also using this with Home Assistant, and I made a local enhancement to the camera component to add a service for turning the camera on and off (via the is_streaming setter.) What I discovered is that a GET

[2018-04-20 21:15] awarecan commented on #109
@theaquarium Can you add some sample code in README?

[2018-05-01 09:30] awarecan opened #132 "Exposure camrea.web_url"
I need that property to be exposure, so that I can see live streaming not the snapshots

[2018-06-03 18:33] idcrook opened #139 "4.0.1 IndexError exception handling does not clean up threads?"
In `4.0.1` release, started noticing and `IndexError` thrown on

[code]

and here is my exception handling code in a try/**except** block:

[code]

The issue I am experiencing is these old threads “stay around”, causing app to slow down (on Raspberry Pi), and eventually cause thread allocation exhaustion after too many of them pile up.

I have been remedying when I notice the slowdown (I write an

[2018-06-03 18:49] idcrook commented on #139
BTW more code context can be seen at my project code, [Nest API call](https://github.com/idcrook/timetemp/blob/9ae06e02637887b0e3f0ef75e961b74f3a2f51b7/install/weather_logging_sparkfun.py#L272-L300).

[2018-06-03 21:33] idcrook commented on #139
Thanks. I now remember wondering about that when I first read through the docs and created the code. I am now testing with ([altered code](https://github.com/idcrook/timetemp/blob/fc1a440bc88f52ff8c3420b8e5b29e9cc7315a27/install/weather_logging_sparkfun.py#L274-L296)).

The API will hit the Nest backend each time the `for structure in NAPI.structures:` loop is encountered (e.g., get an updated tem

[2018-06-03 21:47] awarecan commented on #139
No. python-nest (<4.0) had its own cache, your for loop most likely will hit backend API once.

After 4.0, we implemented Nest Stream API, so Nest Cloud API will push data to python-nest in real-time as soon as some data changed. Your for loop will only get the data from python-nest internal data structure, it will never proactive call backend API.

So for your application, you can increase your p

[2018-06-03 21:56] idcrook commented on #139
Ahh, I was not aware of the related changes. Sounds more efficient. Thanks for the explanation and thanks for the pointer to example code.

my use case is centered around polling since I embed within pacing to other API calls, so I will probably keep it in a polling loop.

[2018-06-03 21:56] #139 closed

[2018-06-03 22:40] awarecan commented on #109
Fixed by #131

[2018-06-03 22:40] #109 closed

[2018-06-05 09:06] awarecan commented on #92
@jrluw can you try python-nest 4.0.1 and home-assistant 0.71.0b0 (rc branch)

[2018-06-07 18:58] #132 closed

[2018-06-10 22:19] awarecan opened #145 "In persistent connection mode, the library will break if unexpected exception occurred"
The design of python-nest is it should reconnect to server if connection broken, that is one expectation of Serve-Side Event. However, in some scenario, the connection would not be re-established,

To reproduce issue:
1. install `tcpkill`, `sudo apt install dsniff`
2. execute `nest -k show`
3. in another terminal, execute `netstat -tn`, list all active TCP connection, found the one foreign address

[2018-06-10 22:22] awarecan commented on #145
To resolve it, we need put _start_event_loop method's clean up code into finally block, and trigger one more update event in finally block.

[2018-06-11 14:50] #145 closed

[2018-06-12 14:20] awarecan opened #147 "Allow external session manager"
## Feature Request

It will provide more flexibility if python-nest support external session manager. Proposed contractor change likes:

[code]

[2018-06-21 15:02] awarecan opened #149 "Hang on if Internet connection reset"
It is different than previous issue.  To reproduce it, you need to reboot your ISP modem, not the router. E.g, your local network keep up, but lost Internet connection. In this case, sse-client will not throw exception, just stop receive data.

[2018-06-21 18:04] awarecan commented on #149
Problem is the way we use requests, we never specific timeout, then requests will never throw timeout exception.

Following code sample is connecting to a SSE live demo server, it will never throw exception when you turn off internet connection.

[code]

I will look for solution later tonight.

[2018-06-22 00:56] awarecan commented on #149
Add read timeout should resolve the problem. Following is my test code. The test server will send event every 5 seconds, so I set connection timeout to 10 and read timeout to 4.998 seconds. You can adjust the read timeout depends on your network connection condition. Set a timeout about 5 seconds, I can let this code trigger the TimeOutError randomly.
[code]

[2018-06-22 02:31] awarecan commented on #149
Some router/firewall will set this value to much smaller to cut off long-time established TCP connection no matter there was data transmission or not. It will break our SSE client.

[kernel-doc]: https://www.kernel.org/doc/Documentation/networking/nf_conntrack-sysctl.txt

[2018-06-26 18:09] awarecan commented on #149
Fix confirmed by HA user.

[2018-06-26 18:09] #149 closed

[2018-07-09 04:49] awarecan opened #153 "Allow cancel ETA"
The Nest API gives a way to cancel an ETA. See [link](https://developers.nest.com/documentation/cloud/away-guide#cancel_an_eta)

This requires setting estimated_arrival_window_begin to `int(0)`. However we don't allow that by limit estimated_arrival_window_begin to isoformat string.

https://github.com/jkoelker/python-nest/blob/4222c4e425c824f35c6d02ecd4b15f1c40683af7/nest/nest.py#L1552-L1554

[2018-07-09 04:52] awarecan commented on #153
I won't have time to work on it, PR is welcome.

[2018-08-15 12:32] elmigbot opened #154 "Nest Hello Person Detection"
Motion and Sound are working fine except for person detection. The person detection never occurs, despite the app showing a person detected event. I can confirm it works just fine on a Nest Indoor Cam. A quick look at Nest docs _say_ they have implemented the Nest Hello API the same as any other camera. I am using this in Home Assistant, but was instructed to submit the issue here.

[2018-09-01 10:31] jonas73x commented on #92
this still doesn't seem to work for me at least. I have a Nest Cam IQ indoor and
print (napi.structures[0].cameras[0].person_detected)
print (napi.structures[0].cameras[0].motion_detected)
always returns False, despite me standing in front of the camera and the Nest app sending me "person detected notifications". Is this expected to work now? And, thanks for an awesome python module. love it.

[2018-09-01 14:47] awarecan commented on #92
I have heard some other users said people detection not working when familiar face enabled on IQ and Hello. But motion detection should work.

The only camera I have is Nest Indoor, which is working fine.

Can you post the raw HTTP response in here?

[2018-09-01 16:44] jonas73x commented on #92
thank your for your quick reply. unfortunately i don't think i know how to get the raw HTTP response. tips very welcome otherwise i'll try to figure it out.

[2018-09-01 17:17] jonas73x commented on #92
not sure if this is what you are looking for but i did try to run some CURL calls and got this back:
event: put
data: {"path":"/devices/cameras/WHAT_LOOKS_TO_BE_A_TOKEN/last_event/has_person","data":true}

[2018-09-01 19:09] awarecan commented on #92
So, there is no begin_time or end_time in the JSON. In that case we won't return person_detected.

Can you check
[code]

See if it can back to False after you trigger it to True, or how quick it does.

[2018-09-01 21:26] jonas73x commented on #92
print(napi.structures[(napi.structu 0].cameras[0].last_event.has_person) turns to True as it's supposed to and seems to turn back to False about 45 seconds after the person has moved out of the camera view. And also assuming no other motion/event is detected. I can get the start end time with
https://developer-api.nest.com/devices/cameras/device_id/last_event/start_time
and
https://developer-api.n

[2018-09-04 21:35] jonas73x commented on #92
i think the problem is the time zone. checking both the start_time/end_time urls above as well as
napi.structures[0].cameras[0].last_event.start_time
napi.structures[0].cameras[0].last_event.end_time
they are in GMT time-zone while I'm actually in GMT+2.
assuming now = datetime.datetime.now(self.end_time.tzinfo) correctly picks up GMT +2 which then screws up the is_ongoing comparison. my address i

[2018-09-04 21:52] awarecan commented on #92
Maybe `https://developer-api.nest.com/structures/structure_id/time_zone`

[2018-09-04 21:55] jonas73x commented on #92
the strange thing is if i curl that URL i get:
event: put
data: {"path":"/structures/XXXX/time_zone","data":"Europe/Stockholm"}
which is correct, yet the times are wrong by the 2 hours.

[2018-09-05 20:33] jonas73x commented on #92
apologies for the many messages. i now have the timezone sorted. the person_detected still doesn't turn to true with the current code as end_time is always set to a couple of seconds after start_time regardless of if the event is still ongoing or not. i can however fix that with making the is_ongoing time check a bit more lenient. final question though, as i still can't seem to get the listening t

[2018-09-20 13:46] towerhand commented on #154
@elmigbog, Did turning off familiar faces fix the person sensor?

[2018-09-20 21:40] towerhand commented on #154
Hopefully it can be fixed someday.

[2018-09-27 02:18] thegame3202 commented on #92
So I just spent a fair amount of time trying to figure this out (I'm not a coder).  However, it seems that HomeAssistant is looking for the binary_sensor at THAT SPECIFIC POINT IN TIME.  Since the IQ cams tend to only show motion_detected for a few seconds TOPS, I don't think HomeAssistant is seeing those events (As you said @jonas73x ).

Hopefully this helps someone.  Happy to help with any testi

[2018-09-27 19:12] jonas73x commented on #92
when i did some testing even only a 5 or 10 second interval seemed to be enough to make it trigger to true.

[2018-10-18 07:50] mikestaniforth commented on #92
Did you manage to get it working? Would you mind posting the code if so?

[2018-10-24 12:04] schmittx opened #158 "Publish v2.11.0 to PyPi as "python-nest-unofficial""
I'd like to create some custom components within HASS to handle target humidity, but I can't import an older package from PyPi with the same name.

@jkoelker Can you publish the last version that uses the unofficial API to PyPi (I think 2.11.0)?

[2018-10-26 18:15] #153 closed

[2018-10-27 19:02] #158 closed

[2018-12-08 19:17] rodhall commented on #92
I have a Nest Hello and an IQ Cam Outdoor. Weirdly, sound detection seems to work but motion and person detection do not.

[2018-12-21 22:12] twinchoke commented on #92
I also have a Nest Hello and none of the sensors are working

[2018-12-22 03:13] wtip opened #164 "Add support for Nest Temperature Sensor"
Could you add support for Nest Temperature Sensor or explain how I might access this additional temperature data?

https://nest.com/thermostats/nest-temperature-sensor/overview/

[2018-12-22 03:33] wtip commented on #164
Sounds like it's not available in the API yet https://nestdevelopers.io/t/temperature-sensor-api/1317/51

[2018-12-26 22:21] snicker commented on #92
Ran into this issue starting a few weeks ago and could not figure out why. Recently installed a Nest Hello and sensors seemed to be working OK in HomeAssistant at first, but suddenly died out.

After reading this thread and doing some testing, I can say that the Nest API is to blame in an indirect way. This is due to the delay in the Nest API reporting events and the `end_time` of the events occur

[2018-12-26 23:43] jkoelker commented on #92
@snicker If it fixes the issue, then I'm all for it ;) HomeAssistant is the largest consumer of this library that I know of, so getting it working there is a major win.

[2018-12-27 07:36] twinchoke commented on #92
Hi, I've added the patch to my system and sensors now appear to trigger. However, once motion detection is triggered to on, it seems to stay on and doesn't return to off. Is this correct operation. Thanks.

[2018-12-27 15:34] snicker commented on #92
@twinchoke: what model of camera are you using?

[2018-12-27 15:37] twinchoke commented on #92
@snicker I'm using a Nest Hello and it would appear that after a reboot, the sensors are returning to the off state. I'm just testing at the moment with person detection.

[2018-12-27 21:06] medic459 commented on #92
I'm seeing the same behavior (with a nest hello)..
Still...it's progress?

[2018-12-27 21:17] medic459 commented on #154
Does the sensor revert back after 30 seconds?  Myself (and others) are seeing that it stays on...
https://github.com/jkoelker/python-nest/issues/92

[2018-12-27 21:37] snicker commented on #154
Another user said that behavior went away after a reboot. HomeAssistant might need a "hard" reboot (stopping and starting the service from the shell, or restarting the docker container on hass.io), not a reboot from the config page. I think the config page reboot may not unload all python code from memory to get a monkey patch working right. This is speculation on my part... but all of this feedba

[2019-01-01 23:26] wtip opened #165 "Add timeout to requests call"
It looks like a timeout was added to the requests calls that are used for streaming but the regular call never times out. I did a `iptables -A OUTPUT -p tcp --dport 443 -j DROP` and the nest api call just hung without timing out.

I think this section needs to be updated
[code]
http://docs.python-requests.org/en/v0.6.1/api/#requests.request

[2019-01-02 19:54] wrkn4alivn commented on #92
@snicker Thanks for the patch, that resolved the issue for me as well. FYI I was getting no sensor events at all in HA with my Nest Hello, but I also noticed that every once in a while I was missing events from my original Outdoor cams.

[2019-01-05 07:54] jhdedrick commented on #92
I have two "Nest Cam IQ Outdoor" and a Nest Hello.  I'm running a manual install of HA on Win 10 under Python 3.7.  All cameras appear to trigger properly with this patch.

(I just had to replace two instances of "hass" with "self" in the Python script.)

[2019-01-05 23:10] tankman316 commented on #92
@snicker - thank you for the patch. This also fixed the issue for me. Was only impacting my Nest Outdoor IQ cam. My non-IQ cam was fine.

[2019-01-16 00:33] rodhall commented on #92
This is working for both my IQ Outdoor and my Nest Hello. I just implemented so will run for a while and report back any stability issues. Both motion and person detection are working now.

[2019-01-16 01:12] snicker commented on #92
sweet! sorry for the delay all, I just wanted to get a few more positive pieces of reinforcement here. I'll submit a PR this evening (or maybe tomorrow.. life is very demanding at the moment!)

[2019-01-16 01:53] Stonewallace commented on #92
Just found this thread after having the same issue as above. Sensors Person and Motion not working before the patch was applied. Working perfectly after patch. Sensors even return to "Clear" after about a minute or so.  Hassio 0.85.1 running in Docker/Ubuntu, Nest Hello doorbell.

[2019-01-18 22:13] #92 closed

[2019-01-20 18:54] #154 closed

[2019-02-01 04:17] knappster1 opened #167 "target_hum usage"
I just set this up today hoping that I could automate a script to set the humidity based on outside temperature.  However, when I try to set the humidity, nothing is happening.  It seems that it worked the very first time, but not since then.

For example, if I try to set the temperature, it returns the temperature on a new line:
[code]

But if I try the same thing with humidity I get nothing:
[co

[2019-02-27 04:57] chrismarcellino commented on #167
Nest doesn’t export this in the official API.

   @property
    def target_humidity(self):
        raise NotImplementedError("No longer available in Nest API")

[2019-03-29 12:54] pnbruckner opened #168 "Connection errors not handled in Nest._request"
When attempting to turn camera off (for example) in HomeAssistant, if a connection error occurs, an exception is thrown which is not caught and command is effectively aborted with no error recovery or retry. I would suggest putting a try block around the call to self._session.request and if a connection error occurs, attempt to resend the command.

Here is the traceback from home-assistant.log:
[c

[2020-02-20 03:33] frakman1 commented on #78
Excuse me, but where do you get your PIN from?

[2020-09-22 23:18] ryantiger658 opened #169 "Support for Nest Device Access"
It looks like Google has opened up the API's again for Nest under the new Device Access Console.

It would be great if we could get support for the new Auth flows and API! I have done some Python work, and would be happy to try to help!

For more information:
https://developers.google.com/nest/device-access

Thanks in advance!

[2020-09-22 23:23] ryantiger658 commented on #169
API overview is [here](https://developers.google.com/nest/device-access/api). Looks like the new API endpoint is `https://smartdevicemanagement.googleapis.com/v1`. It looks like the auth flow uses the same endpoint. So at bare minimum we will need to update the endpoints to the new api. https://github.com/jkoelker/python-nest/blob/b45100440577ca35061e08dda48fddcc49f214eb/nest/nest.py#L25

[2020-12-02 12:33] fabaff opened #170 "Re-Licensing"
The current license (CC BY-NC-SA 3.0) prevents the module to become part of the Fedora Package Collection as the license has [distribution restrictions](https://fedoraproject.org/wiki/Licensing:Main#Bad_Licenses_3).

Could you please consider to re-license the code to CC-BY-SA or alike? Thanks

[2021-01-28 20:39] #169 closed

[2021-02-24 19:12] #168 closed

[2021-10-23 17:47] bastienboutonnet opened #172 "Nest Developers seems deprecated, interested providing support for the Google API"
I was going to use this package to control my nest with Python but found out that I cannot use the Nest Developer console as it seems to be retired.

I've managed to control my nest by using the google API and will likely try to rework the auth part in a fork (hoping that a lot of the handy abstractions that were developed here can hook up nicely.

Would you be interested in some PRs?

[2021-12-15 20:39] techguy993 opened #173 "setting temperature does not work"
Some of the "cmd"s work as they should but for example:

nest --name deprecated  cmd ThermostatTemperatureSetpoint.SetHeat '{"heatCelsius":"27"}'
Traceback (most recent call last):
  File "/home/pi/.local/bin/nest", line 8, in <module>
    sys.exit(main())
  File "/home/pi/.local/lib/python3.9/site-packages/nest/command_line.py", line 166, in main
    print(devices[args.index].send_cmd(
  File "/h

[2021-12-16 02:01] #173 closed

[2021-12-24 14:27] danielloader commented on #172
@bastienboutonnet you wouldn't happen to have a simple guide to hand to interact with the thermostat with the new API?

[2021-12-25 15:16] bastienboutonnet commented on #172
In the end I ended up writing my own app after some research, because I wanted to do certain things around graphing and all that wouldn't be covered here and given that this tool is pretty heavily engineered (in a good way) i didn't feel like with the lack of interaction I'd be getting support.

That being said, this: https://www.wouternieuwerth.nl/controlling-a-google-nest-thermostat-with-python/

[2022-01-06 00:40] dannyman commented on #172
I have a janky script based on https://www.wouternieuwerth.nl/controlling-a-google-nest-thermostat-with-python/ that I have to re-auth every week. Then I saw this module and got cautiously excited then back to ... well, it is nice to know I'm not the only person who would appreciate a nice module. :)

[2022-01-06 09:33] bastienboutonnet commented on #172
@dannyman I think the re-auth is because when your app is labelled as testing then google puts an expiration of 7 days. I read a few threads as I was running into the same issue as you. But could only dig up this one right now: https://community.home-assistant.io/t/nest-integration-access-token-failure/267790/5

I did exactly what one of the screen captures does which was to set my application to

[2022-01-06 21:23] dannyman commented on #172
Wouter replied to a user with a similar problem in a comment:

Next time I am hacking on my script, I will look into storing my `access_token` and `refresh_token` dynamically rather than hard-coded.

[2022-01-06 22:06] bastienboutonnet commented on #172
@dannyman not wanting to promote my tool too much on here but if you're interested you could leverage some of the "tech" I built in my controller which manages the access token and refreshing and all that fun stuff: https://github.com/bastienboutonnet/py-nest-thermostat/blob/main/py_nest_thermostat/auth.py